{% extends 'base_page.html' %}
    {% load staticfiles %}
    {% block title%}
        titlean2
    {% endblock %}
    {% block main%}

    <div class="col-lg">
        <img src="{% static 'images/panoram.jpg' %}" class="img-fluid" alt="Responsive image" >
    </div>
    <h2>Распределение участков поверхности марса</h2>
    <p> Программа приватизации участков поверхности марса в районе долины Маринер "Valles Marineris"</p>
    <p> Долина Маринер одна из перспективных локаций планеты для развития инфраструктуры в ближайшем будущем. Самый длинный и глубокий каньон в Солнечной системе. Она является компаньоном самой высокой горы в Солнечной системе — вулкана Олимп, который также находится на красной планете. Долина Маринера имеет длину около 4000 км и 200 км в ширину, в некоторых местах глубина доходит до 7 км. Она проходит вдоль экватора и охватывает почти четверть окружности планеты или 59% ее диаметра</p>
    <p>Участки поверхности распределяются среди участников третьей волны экспедиций. Которые зарегистрируются не позднее 10 Aquarius.
    Распределяемые участки находятся на террасах каньона. Каждый сертификат закрепляет право на выделение участка на поверхности с установленной площадью и характеристиками и зонированием согласно декларации плана развития территории. Участки внутри каньона распределены во второй волне экспедиций.</p>


    {% endblock %}

<!--
<!DOCTYPE html>
  <head>
    <title>page1</title>
    <meta charset="UTF-8">
    <meta name="description" content="Описание">
    <meta name="author" content="Имя Автора">
  </head>
    <meta charset="utf-8">
</head>

<body>
<div><a href="/page1/">page1</a></div>
	<center>
		<h2>Hello Anna Page2</h2>
	</center>
    {% for digit in digits %}
    <p>{{ digit }}</p>
    {% endfor %}
	<span>
	текст для наполнения страницы
	</span>
</body>
</html>-->