{% extends 'articles/base_page.html' %}
    {% load staticfiles %}
    {% block title%}
        main
    {% endblock %}

{% block main%}
    <div class="col-lg">
        <img src="{% static 'images/panoram.jpg' %}" class="img-fluid" alt="Responsive image" >
    </div>
    <h2>Introduce</h2>
{% endblock %}





<!--
<a href="http://127.0.0.1:8000/page1/post/    post.id
 url 'post_detail_url' id = post.id

extends 'page1/base_page.html'
<!DOCTYPE html>
  <head>
    <title>page1</title>
    <meta charset="UTF-8">
    <meta name="description" content="Описание">
    <meta name="author" content="Имя Автора">

  </head>
    <meta charset="utf-8">
</head>

<body>
<div><div><a href="/page2/">page2</a></div></div>
	<center>
		<h2>Hello Anna Getman1</h2>
	</center>
	<span>
	текст для наполнения страницы
	</span>
</body>
</html>
-->