<!DOCTYPE html>
<html lang="ru">
  <head>
      {% load staticfiles %}
    <title>
        {% block title%}
        There is no content
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="Описание">
    <meta name="author" content="Имя Автора">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head><!--/head-->

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">MARS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'article' %}">articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'properties' %}">properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reviews' %}">reviews</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'office' %}">private office</a>
      </li>
      {% endif %}
    </ul>


            {% if request.user.is_authenticated %}
            <div class="btn-group">
              <img src="{% static 'images/user-icon.png' %}" height="42" width="35">
              <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ request.user }} </button>
              <div class="dropdown-menu dropdown-menu-right">
                {% if request.user.is_staff %}
                <a class="dropdown-item" href="/admin/">admin menu</a>
                {% endif %}
                <div class="col-sm-10">
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger my-sm-2">Logout</a>
                </div>
              </div>
            </div>
      {% else %}
            <div class="btn-group">
              <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> войти </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'login_page' %}">авторизация</a>
                <a class="dropdown-item" href="{% url 'reg_page' %}">регистрация</a>
              </div>
            </div>
      {% endif %}


  </div>
</nav>

<div class="container">
        {% block main%}
        There is no content
        {% endblock %}
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>